**/__pycache__
**/.DS_Store

.idea
.git
.vscode
.old_helm*
.werf_secret_key
run.py
run_werf
setup_werf

tmp/

credentials.json
.ipynb_checkpoints
/test.py
.pytest*
tester.*
.mypy_cache

.idea
venv
.env
.env.db
.venv
config.cfg
base.db